<%- include("partials/header") %>

<!-- README: Articles2 is for testing data from database -->
  <header class="header">
  <!-- $ Elementet <header> används för bättre semantik $ -->
    <h1 class="header__heading">
      Articles From Server
    </h1>
  </header>
  <main class="main">

    <% for (let i = 0; i < articles.length; i++) { %>
      <div class="article--wrapper">
        <h3  class="article--title">
          <a class="article--link" href="<%= articles[i].link %>">
            <%= articles[i].name %>
          </a>  
        </h3>
        <a href="<%= articles[i].link %>">
          <img class="article" src="<%= articles[i].imgLocation %>" alt="<%= `"${articles[i].name}" thumbnail` %>">
        </a>
      </div>
    <% }; %>

    <video autoplay muted loop class="myVideo">
      <source src="beach-walk-in-v4.mp4" type="video/mp4">
    </video>
  </main>
<%- include("partials/footer") %>